In [2]:
import pandas as pd
import numpy as np

In [4]:
data_df = pd.read_csv('CampaignData.csv')
data_df.head(3)

,Date,Campaign_ID,Campaign_Name,Creative_ID,Creative_Type,Targeting_Age,Targeting_Gender,Targeting_Location,Impressions,Clicks,Conversions,Cost,Platform_Name,Page_Section,Ad_Position,Time_Spent,Video_Views,Bounce_Rate
0,2024-04-01,1,Spring Sale 2024,101,Banner Ad,25-45,Male,Fashion District,50000,2500,150,5000.0,FashionMagazine.com,Homepage,Top Banner,30s,1000.0,20%
1,2024-04-01,1,Spring Sale 2024,102,Video Ad,25-45,Female,Beauty District,30000,1500,100,7500.0,BeautyBlog.com,Article,In-content,45s,1500.0,15%
2,2024-04-01,1,Spring Sale 2024,103,Carousel Ad,18-55,All,Various Cities,40000,2000,120,6000.0,SocialMediaPlatform,Feed,Scrolling,NaN,NaN,30%

In [5]:
#PRE-PROCESS
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 52
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                36 non-null     object
 1   Campaign_ID         36 non-null     int64
 2   Campaign_Name       36 non-null     int32
 3   Creative_ID         36 non-null     int64
 4   Creative_Type       36 non-null     int32
 5   Targeting_Age       36 non-null     int32
 6   Targeting_Gender    36 non-null     int32
 7   Targeting_Location  36 non-null     int32
 8   Impressions         36 non-null     int64
 9   Clicks              36 non-null     int64
 10  Conversions         36 non-null     int64
 11  Cost                36 non-null     float64
 12  Platform_Name       36 non-null     object
 13  Page_Section        36 non-null     object
 14  Ad_Position         36 non-null     object
 15  Time_Spent          36 non-null     object
 16  Video_Views         36 non-null     float64
 17  Bounce_Rate         36 non-null     object
dtypes: float64(2), int32(5), int64(5), object(6)
memory usage: 4.6+ KB

In [6]:
data_df.duplicated().sum()

0

In [7]:
data_df.isna().sum()

Date                   0
Campaign_ID            0
Campaign_Name          0
Creative_ID            0
Creative_Type          0
Targeting_Age          0
Targeting_Gender       0
Targeting_Location     0
Impressions            0
Clicks                 0
Conversions            0
Cost                   0
Platform_Name          0
Page_Section           0
Ad_Position            0
Time_Spent            18
Video_Views           18
Bounce_Rate            0
dtype: int64

In [17]:
#could handle null with this values:
print('Time_Spent mode: {}'.format(data_df.Time_Spent.mode()[0]))      #can impute to Time_Spent 
print('Video_Views mean: {}'.format(np.round(data_df.Video_Views.mean())))    #can impute to Video_Views

#for this I won't do it though

Time_Spent mode: 25s
Video_Views mean: 1388.0

In [22]:
#since date is an object we need to convert to Date
data_df['Date'] = pd.to_datetime(data_df.Date)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 52
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                36 non-null     object
 1   Campaign_ID         36 non-null     int64
 2   Campaign_Name       36 non-null     int32
 3   Creative_ID         36 non-null     int64
 4   Creative_Type       36 non-null     int32
 5   Targeting_Age       36 non-null     int32
 6   Targeting_Gender    36 non-null     int32
 7   Targeting_Location  36 non-null     int32
 8   Impressions         36 non-null     int64
 9   Clicks              36 non-null     int64
 10  Conversions         36 non-null     int64
 11  Cost                36 non-null     float64
 12  Platform_Name       36 non-null     object
 13  Page_Section        36 non-null     object
 14  Ad_Position         36 non-null     object
 15  Time_Spent          36 non-null     object
 16  Video_Views         36 non-null     float64
 17  Bounce_Rate         36 non-null     object
dtypes: float64(2), int32(5), int64(5), object(6)
memory usage: 4.6+ KB

In [24]:
# Aggregate data for each day
daily_data = data.groupby('Date').agg({
    'Impressions': 'sum',
    'Clicks': 'sum',
    'Conversions': 'sum',
    'Cost': 'sum'
}).reset_index()

In [27]:
daily_data.head(3) #check

         Date  Impressions  Clicks  Conversions     Cost
0  2024-04-01       160000    8000          470  25000.0
1  2024-04-02       168000    8500          510  25900.0
2  2024-04-03       164000    8250          490  26100.0

In [28]:
# Calculate CTR (Click-through Rate)
daily_data['CTR'] = (daily_data['Clicks'] / daily_data['Impressions']) * 100

# Calculate CPA (Cost per Acquisition)
daily_data['CPA'] = daily_data['Cost'] / daily_data['Conversions']

# Calculate CPM (Cost per Mille)
daily_data['CPM'] = (daily_data['Cost'] / daily_data['Impressions']) * 1000

# Calculate CPC (Cost per Click)
daily_data['CPC'] = daily_data['Cost'] / daily_data['Clicks']

In [29]:
daily_data #Print the dataset for the results

,Date,Impressions,Clicks,Conversions,Cost,CTR,CPA,CPM,CPC
0,2024-04-01,160000,8000,470,25000.0,5.000000,53.191489,156.250000,3.125000
1,2024-04-02,168000,8500,510,25900.0,5.059524,50.784314,154.166667,3.047059
2,2024-04-03,164000,8250,490,26100.0,5.030488,53.265306,159.146341,3.163636
3,2024-04-04,172000,8650,525,26800.0,5.029070,51.047619,155.813953,3.098266
4,2024-04-05,168000,8400,510,26400.0,5.000000,51.764706,157.142857,3.142857
5,2024-04-06,172000,8650,525,26700.0,5.029070,50.857143,155.232558,3.086705
6,2024-04-07,168000,8400,510,26400.0,5.000000,51.764706,157.142857,3.142857
7,2024-04-08,172000,8650,525,26700.0,5.029070,50.857143,155.232558,3.086705
8,2024-04-09,168000,8400,510,26400.0,5.000000,51.764706,157.142857,3.142857

### DO a ML Model (Regression and Classification)

In [30]:
#REGRESSION

In [38]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Read the dataset
data = pd.read_csv('CampaignData.csv')

# Preprocessing
# Drop rows with missing values (if any)
data = data.dropna()

# Encode categorical variables
label_encoders = {}
for column in ["Campaign_Name", "Creative_Type", "Targeting_Age", "Targeting_Gender", "Targeting_Location",
               "Platform_Name","Page_Section","Ad_Position","Time_Spent","Bounce_Rate"]:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

# Split the data into features (X) and target variable (y)
X = data.drop(columns=["Conversions", "Clicks","Date"])  # excluding Conversions and Clicks for simplicity
y = data["Conversions"]  # target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Model Training
model = LogisticRegression()
model.fit(X_train, y_train)

# Model Evaluation
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5

C:\Users\Abe\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [37]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Read the dataset
data = pd.read_csv('CampaignData.csv')
# Preprocessing
# Drop rows with missing values (if any)
data = data.dropna()
# Preprocessing
# Encode categorical variables
label_encoders = {}
for column in ["Campaign_Name", "Creative_Type", "Targeting_Age", "Targeting_Gender", "Targeting_Location",
               "Platform_Name","Page_Section","Ad_Position","Time_Spent","Bounce_Rate"]:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

# Define target labels based on criteria (e.g., conversion rate)
data['Performance'] = pd.cut(data['Conversions'], bins=[-1, 50, 100, float('inf')], labels=['fail', 'need improvement', 'success'])

# Split the data into features (X) and target variable (y)
X = data.drop(columns=["Conversions", "Clicks", "Performance","Date"])  # excluding Conversions and Clicks for simplicity
y = data["Performance"]  # target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Print data types of features after encoding
print(X_train.dtypes)

# Model Training
model = RandomForestClassifier()
model.fit(X_train, y_train)

# Model Evaluation
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

# Classification Report
print(classification_report(y_test, y_pred))

Campaign_ID             int64
Campaign_Name           int32
Creative_ID             int64
Creative_Type           int32
Targeting_Age           int32
Targeting_Gender        int32
Targeting_Location      int32
Impressions             int64
Cost                  float64
Platform_Name           int32
Page_Section            int32
Ad_Position             int32
Time_Spent              int32
Video_Views           float64
Bounce_Rate             int32
dtype: object
Accuracy: 1.0
                  precision    recall  f1-score   support

need improvement       1.00      1.00      1.00         1
         success       1.00      1.00      1.00         7

        accuracy                           1.00         8
       macro avg       1.00      1.00      1.00         8
    weighted avg       1.00      1.00      1.00         8